html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 10px;
  background-color: #2c3435;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: repeat(2, 30px);
  grid-gap: 1rem;
}

select {
  height: 30px;
  width: 140px;
  border-radius: 5px;
  border-style: hidden;
  background: #2fc8d6; /* fallback color if gradients are not supported*/
  background: -webkit-linear-gradient(
    -128deg,
    rgba(47, 200, 214, 0.2),
    rgba(65, 202, 204, 0.4) 23%,
    rgba(130, 253, 255, 0.3),
    rgba(187, 254, 255, 0.5)
  );
  background: -moz-linear-gradient(
    -128deg,
    rgba(47, 200, 214, 0.2),
    rgba(65, 202, 204, 0.4) 23%,
    rgba(130, 253, 255, 0.3),
    rgba(187, 254, 255, 0.5)
  );
  background: -o-linear-gradient(
    -128deg,
    rgba(47, 200, 214, 0.2),
    rgba(65, 202, 204, 0.4) 23%,
    rgba(130, 253, 255, 0.3),
    rgba(187, 254, 255, 0.5)
  );
  background: linear-gradient(
    -128deg,
    rgba(47, 200, 214, 0.2),
    rgba(65, 202, 204, 0.4) 23%,
    rgba(130, 253, 255, 0.3),
    rgba(187, 254, 255, 0.5)
  );
}

input {
  height: 30px;
  width: 60px;
  margin: -1px;
  border-radius: 5px;
  border-style: hidden;
  background: #2fc8d6; /* fallback color if gradients are not supported*/
  background: -webkit-linear-gradient(
    -128deg,
    rgba(47, 200, 214, 0.2),
    rgba(65, 202, 204, 0.4) 23%,
    rgba(130, 253, 255, 0.3),
    rgba(187, 254, 255, 0.5)
  );
  background: -moz-linear-gradient(
    -128deg,
    rgba(47, 200, 214, 0.2),
    rgba(65, 202, 204, 0.4) 23%,
    rgba(130, 253, 255, 0.3),
    rgba(187, 254, 255, 0.5)
  );
  background: -o-linear-gradient(
    -128deg,
    rgba(47, 200, 214, 0.2),
    rgba(65, 202, 204, 0.4) 23%,
    rgba(130, 253, 255, 0.3),
    rgba(187, 254, 255, 0.5)
  );
  background: linear-gradient(
    -128deg,
    rgba(47, 200, 214, 0.2),
    rgba(65, 202, 204, 0.4) 23%,
    rgba(130, 253, 255, 0.3),
    rgba(187, 254, 255, 0.5)
  );
}
input[type="number"] {
  text-align: center;
  font-weight: bold;
}

button {
  height: 30px;
  width: 70px;
  border-radius: 5px;
  border-style: hidden;
  font-weight: bold;
  background: #2fc8d6; /* fallback color if gradients are not supported*/
  background: -webkit-linear-gradient(
    -128deg,
    rgba(47, 200, 214, 0.2),
    rgba(65, 202, 204, 0.4) 23%,
    rgba(130, 253, 255, 0.3),
    rgba(187, 254, 255, 0.5)
  );
  background: -moz-linear-gradient(
    -128deg,
    rgba(47, 200, 214, 0.2),
    rgba(65, 202, 204, 0.4) 23%,
    rgba(130, 253, 255, 0.3),
    rgba(187, 254, 255, 0.5)
  );
  background: -o-linear-gradient(
    -128deg,
    rgba(47, 200, 214, 0.2),
    rgba(65, 202, 204, 0.4) 23%,
    rgba(130, 253, 255, 0.3),
    rgba(187, 254, 255, 0.5)
  );
  background: linear-gradient(
    -128deg,
    rgba(47, 200, 214, 0.2),
    rgba(65, 202, 204, 0.4) 23%,
    rgba(130, 253, 255, 0.3),
    rgba(187, 254, 255, 0.5)
  );
}

.output {
  text-align: center;
  padding-top: 10px;
  font-size: 21px;
  font-weight: bold;
  color: #c9edde;
  font-family: monospace
}
